
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-image: url(Fundo.jpg);
    background-position: top center;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-color: #121214;
    
}
body * {
    font-family: 'Inter', sans-serif;
    line-height: 160%;
}
:root {
    font-size: 62,5%;

    
}
header {
    padding-top: 3.2rem;
    
    
    
  
}
header div {
    margin: auto;
    width: 12rem;
    border-radius: 50%;
    display: flex;
    padding: 4px;
    animation: fromtop 700ms 100ms backwards;
    transition: transform .3s;

    background-image: linear-gradient(90deg,  #9572FC 0%, #43E7AD 50.52%, #E2D45C 100%);
}

header div:hover {
  transform: scale(1.1);  
    
}

header img {
    width: 100%;
    border-radius: 50%;


}

section {
    color: white;
 padding-top: 4px;
 border-radius: 1rem;
    
    background-image: linear-gradient(90deg,  #9572FC 0%, #43E7AD 50.52%, #E2D45C 100%);
}
ul {
    list-style: none;
}
main{
    max-width: 58rem;
    width: 90%;
    margin: 3.2rem auto;
    display: flex;
    flex-direction: column;
    gap: 24px;
    
    
}

main section {
    animation: frombottom 700ms  backwards;

}

main section:nth-child(1) {
    animation-delay: 200ms;
}

main section:nth-child(2) {
    animation-delay: 500ms;
}

main section:nth-child(3) {
    animation-delay: 800ms;
}
section  div {
    background-color: #2A2634;
    padding: 3.2rem;
    padding-top: 2.4rem;
    border-radius: 8px;

}
section p {
    font-weight: 400;
font-size: 16px;
letter-spacing: -0.18px;
color: #A1A1AA;
margin-bottom: 24px;
}

section h2{
    font-weight: 900;
font-size: 24px;
letter-spacing: -0.47px;

}
section ul {
    transition: all 200ms;
}
section ul li:hover {
    transform: scale(1.2);
}

.games-list {
    display: flex;
    gap: 1.6rem;
    flex-wrap: wrap;
}

.games-list img {
 width: 9rem;
    border-radius: 8px;
}



.channel-list {
    display: flex;
    gap: 1.6rem;
    flex-wrap: wrap;
    
}



.channel-list img{
    border-radius: 50%;
    width: 7rem;
    border: 1px solid #443e54;
}

.social-list {
    display: flex;
    gap: 1.6rem;
    flex-wrap: wrap;
}


@keyframes fromtop {
    from {
        transform: translateY(-30px);
        opacity: 0;
    }

    to {
        transform: translatey(0)
        opacity: 1;
    }
        
    
}

@keyframes frombottom {
    from {
        transform: translateY(30px);
        opacity: 0;
    }

    to {
        transform: translatey(0)
        opacity: 1;
    }
}